<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <button type="submit"><a href="{% url 'logout' %}">Logout</a></button>
    <ul>
        {% for person in persons %}
            <li>
                <a href="{% url 'person_update' person.id %}"> {{ person }} </a>
                <button><a href="{% url 'person_delete' person.id %}"> Deletar </a></button>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'person_new' %}">Criar um novo cliente</a>
</body>
</html>